<!-- <h1>Genre Details</h1>

<ul>
  <li> <a href="/genres/<%= @genre.slug%>">Genre Name:<%= @genre.name%></a></li>
  <% @genre.songs.each do |song|%>
    <li> <a href="/songs/<%= song.slug%>">Song Name:<%= song.name%></a></li>
  <% end %>
  <li> <a href="/artists/<%= @genre.artist.slug %>"> Artist:<%= @genre.artist.name%></a></li>
</ul> -->
